#tet-nguyen-dan {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(images/pexels-marcus-nguyen-980221.jpg);
}
#trung-thu {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(images/pexels-marcus-nguyen-980221.jpg);
}
#thanh-minh {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(images/pexels-marcus-nguyen-980221.jpg);
}
