#cookingculture, #spirituality, #festivities {
    color: white;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 1px;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(images/pexels-marcus-nguyen-980221.jpg);
}