@charset "utf-8";
/* CSS Document */

body
{
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", "serif";
	margin: 0;
	line-height: 1.4;  /* https://www.w3schools.com/cssref/pr_dim_line-height.asp */
}
h1, h2
{
	font-family:"Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin: 0;
}
h1 {
	margin: 0;
	text-decoration: underline;
}

h2 a:link, h2 a:visited {
	color: #F0251B;
}

h2 a:active {
	/* Using colour from the header */
	color: #AD1912;
}

button {
	color: white;
	background-color: #AD1912;
	border-radius: 50px;
}

.blacktext {
	color: black;
}

nav a:link, nav a:visited {
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

/* Start header & footer */
header, footer {
	padding: 25px;

	color: white;
	background-color: #AD1912;
	background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.3)), url("images/pexels-david-peterson-344754.jpg");
	background-position-x: 0;
	background-position-y: 40%;
	background-size: cover;
}

header {
	position: sticky;
	top: 0;
	margin-bottom: 20px;
}

footer {
	position: relative;
	background-position-y: 80%;
}

#toplefttext {
	display: inline-block;
	text-align: center;
}
#toplefttext h1 {
	display: inline;
}

nav {
	margin-top: 2px;
}

nav a {
	text-decoration: none;
}

nav ul
{
	margin-top: 0px;
	margin-bottom:0px;
	height: 25px;
	padding: 0px;
}
nav ul *
{
	float:left;
	list-style:none;
	margin-right: 5px;
}

#copyright {
	text-align: center;
}

/* Stick to bottom right of footer */
#createdby
{
	position:absolute;
	bottom: 8px;
	right: 8px;
}

/* Complete header & footer */

main {
	/* Stop float */
	clear: both;
}

/* > only subelement, not sub-sub-element */
main > * {
	color: white;
    background-size: cover;
    background-position: center;
	
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

